*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.navbar{
    font-size: 20px;
}

.navbar a{
    text-decoration: none;
    color: black;
    padding: 20px;
}

.navbar a:hover{
    color: bisque;
}

.index-title{
    text-align:center;
    font-size: 35px;
}

#index-container{
    margin-top: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#card{
    width: 15vw;
    height: 40vh;
}

.card-info p{
    max-width: 8rem;
    text-align: center;
}

@media screen and (max-width: 76.8rem) {
    body {
      background-color: blue;
    }

    .index-title{
        margin-top: 30px;
    }

    #index-container{
        /* margin-top: 5vh; */
        display: flex;
        align-items: center;
    }

    #card{
        display: flex;
        justify-content: center;
        width: 20vw;
        height: 45vh;
    }
  }

  @media screen and (max-width: 50rem) {
    body {
      background-color: red;
    }

    .index-title{
        margin-top: 25px;
    }

    #index-container{
        margin-top: 5vh;
        display: flex;
        align-items: center;
    }

    #card{
        display: flex;
        justify-content: center;
        width: 25vw;
        height: 45vh;
    }
  }

