.h1-read{
    text-align: center;
}
.book-read-container-test{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.container-read{
    margin: 2% 2%;
}

.first-child-picture{
    margin: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}