<h1 class="title-already">I've read this Book</h1>
<div class="data-container">
  {{#each mergedArr}}
  <div class="alreadyRead-card">
    <img src={{volumeInfo.imageLinks.smallThumbnail}} />
    <div class="alreadyRead-info">
      <p>{{volumeInfo.title}}</p>
      <button id="{{_doc._id}}" class="fa fa-trash yo"></button>
    </div>
  </div>
  {{/each}}
</div>