<h1>Books created</h1>

{{#each data.author}}
<p>{{title}}</p>
<a href="/user/dashboard/update/{{_id}}">Wanna update your Books</a>
<a href="/user/dashboard/booksCreated/delete/{{_id}}">Delete this book</a>
{{/each}}

{{data.title}}