<h1>Description</h1>
<div>
    <img src="{{bookDetail.[0].volumeInfo.imageLinks.smallThumbnail}}" alt="{{title}}">
    <div>
        <p>{{bookDetail.[0].volumeInfo.title}}</p>
        <p>{{bookDetail.[0].volumeInfo.description}}</p>
    </div>
</div>