<h1>Book research</h1>

<div>
    {{#each bookDetail}}
    <div>
        <div>
            <p> {{volumeInfo.title}}</p>
            <img src={{volumeInfo.imageLinks.smallThumbnail}} />
        </div>
    </div>
    {{/each}}
</div>