<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    {{!-- <link rel="stylesheet" href=""> lien pour le font awesome --}}
    {{!-- <script type="module" src=""></script> --}}
    <title>ironBooks</title>
</head>

<body>
    <nav>
        <a href="">Home</a>
        <a href="">Signin</a>
        <a href="">Signup</a>
        <a href="">Log Out</a>
    </nav>
    <form action="post">
        <input placeholder="Search" id="book-name-input" type="search" name="search">
    </form>
    {{{body}}}
</body>

</html>