<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/form-css.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/read.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script type="module" src="/javascript/bookManager.js"></script>
    <title>ironBooks</title>
    <link rel="icon" type="image/ico" href="/favicon.ico">
</head>

<body>
    <div id="header-container">
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/user/dashboard">Dashboard</a>
            <a href="/user/dashboard/read">Books read</a>
            <a href="/user/dashboard/alreadyread">Books to read</a>
            <a href="/auth/signin">Sign In</a>
            <a href="/auth/signup">Sign Up</a>
            <a href="">Log Out</a>
        </nav>
        <form class="container-form-test" role="form" action="/" method="get">
            <input class="searchbar" type='text' name='bookSearch' placeholder='Enter a keyword...'>
            <input class="search-btn" type='submit' value='Search'>
        </form>
    </div>
    {{{body}}}
    <footer>
        <p>Created by Mina, Thomas and Lucas</p>
    </footer>
</body>

</html>