<h1 class="h1-read">Books to read</h1>
<div class="book-read-container-test">
    {{#each mergedArr2}}
    <div class="container-read">
        <img src="{{volumeInfo.imageLinks.smallThumbnail}}" alt="Book picture">
        <p>{{volumeInfo.title}}</p>
        <button id="{{_doc._id}}" class="fa fa-trash salut"></button>
    </div>
    {{/each}}
</div>