<section class="sign form-container">
    <header class="form-header">
        <h1 class="form-title">Start your ironBooks journey</h1>
        <p class="form-subtitle">Enjoy yourself and be comfortable </p>
    </header>
    {{#if msg}}
    <p class="message {{msg.status}}">{{msg.text}}</p>
    {{/if}}
    <form method="post" action="/signup" id="form_user">
        <div class="form-item-wrapper flexed-item">
            <label for="username" class="label-ref label">Username</label>
            <input id="firstname" name="username" type="text" class="input-text input" placeholder="Albert" required>
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="email" class="label-ref label">Email</label>
            <input id="email" name="email" type="email" class="input-text input" placeholder="albert.biceps@gmail.com"
                required>
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="password" class="label-ref label">Password</label>
            <input id="password" name="password" type="password" class="input-text input" placeholder="••••••" required>
        </div>
        <button class="button-primary white">Create Account</button>
    </form>
    <p class="form-sub-infos">Already have an account ? <a href="/auth/signin" class="button-link-form">Sign In</a></p>
</section>